/*******************Main Style Sheet for Hacked Self******/


/*********************************************************/
/*  Mobile First Design - Mobile Screens
/*********************************************************/

/*********************************************************/
/*  HEADER
/*********************************************************/

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "calibri";
    font-size:14px;
    
}

.wrapper {
    padding: 5px 20px 5px  20px;
}

#headerDiv {
    background: rgba(0,102,255,1);
    color:white;
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
}


header h1 {
    width: 30%;
    font-size: 30px;
    float: left;
}

header button {
width: 20%;
height: 20px;
}

header nav {
    background: rgb(220, 230, 242);
    color:white;
    display:flex;
    justify-content: flex-start;
}
header nav a {
    padding: 0 20px 0 0;
}

header nav a:link {
    color: rgb(31, 73, 125);
    font-weight: bolder;
    text-decoration:none;
}
header nav a:visited {
    color: rgb(31, 73, 125);
}

#headerNav {
    width: 80%;
}
#searchButton {
    width: 200px;
}


/*********************************************************/
/*  MAIN BODY
/*********************************************************/

main {
    padding: 10px 200px 0 200px;
    text-align: center;

}

h2{
    color: rgb(31, 73, 125);
    font-weight: bolder;
    text-align:left;
}
h3 {
    text-align: right;
    font-weight: 500;
    font-style: italic;
}

h4 {
    text-align: left;
    font-weight: 300;
}

#spanishButtonArea {
    margin: 20px 0 0 0;
}
.basicButton {
    text-align:center;
    margin: 5px 0 5px 0;
    border: 2px solid rgba(56, 93, 138, 1);
    border-radius: 10px;
    padding: 5px;
    color:white;
    background-color: rgba(0,102,255,1);
    width:50%;
    height:30px;
    box-shadow: #111 0 0 1px; 
}

.basicButton:hover {
    background-color: #ddd;
    color: black;    
}


#btn-stackSize {
    background-color: white;
    color:rgba(0,102,255,1);
    font-weight: bolder;
  }

#spanishBox {
    margin:0 20px 0 20px;
    height: 150px;
    border: 5px solid black;
    border-radius: 15px;
    display:flex;
    align-items:center;
    justify-content: center;
}

h5 {
    font-size: 40px;
}

.round {
    border-radius: 50%;
}

.greenButton {
    text-decoration: none;
    display: inline-block;
    width: 110px;
    height: 110px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0 10px 0;
    margin: 5px;
    
}

.greenButton:hover {
    background-color: #ddd;
    color: black;
    
}

#checkSection {
    height: 120px;
    display:none;
}

#wrong {
    background-image: url(../images/xMark.png);
    background-repeat: no-repeat; 
    background-size:100%;
    width:120px;
    height:100%;
    border:none;
}

#correct {
    background-image: url(../images/checkMark.png);
    background-repeat: no-repeat;
    background-size:100%;
    width:120px;
    height:100%;
    border:none;
}

/* The form container */
.formSection {
    display:flex;
    align-items:center;
    justify-content: center;
}

.container {
    text-align: left;
    display: inline;
    width: 25%;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }




/*********************************************************/
/*  FOOTER
/*********************************************************/

footer {
    text-align: center;
    background: rgb(220, 230, 242);
    height:200px;
    padding: 20px;
}

footer nav a {
    padding: 20px;
}

/*********************************************************/
/*  Size For Bigger Screen
/*********************************************************/


/* small tablets */
@Media screen and (min-width:480px) {
    
}

/* large tablets */
@Media screen and (min-width:768px){
    .wrapper {
        padding: 10px 100px 10px  100px;
    }
    #spanishBox {
        margin:0 20px 0 20px;
    }
    
}

/*very big tablets*/

@Media screen and (min-width:980px) {
    .wrapper {
        padding: 10px 200px 10px  200px;
    }
    #spanishBox {
        margin:0 50px 0 50px;
    }
}
    
/* laptops and desktops */
@Media screen and (min-width:1080px) {
    .wrapper {
    
    }
    
}
